<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seggsmen.finalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IAT359FinalApp">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ViewPastMealActivity"
            android:exported="true" />
        <activity
            android:name=".ObsoleteListPastMealsActivity"
            android:exported="true" />
        <activity
            android:name=".ViewPastPetActivity"
            android:exported="true" />
        <activity
            android:name=".ListPastPetsActivity"
            android:exported="true" />
        <activity
            android:name=".NewMealAddMealActivity"
            android:exported="true" />
        <activity
            android:name=".NewMealAddPhotoActivity"
            android:exported="true" />
        <activity
            android:name=".NewMealPhotoTakenActivity"
            android:exported="true" />
        <activity
            android:name=".NewMealServingActivity"
            android:exported="true" />
        <activity
            android:name=".FeedPetActivity"
            android:exported="true" />
        <activity
            android:name=".SavedMealsActivity"
            android:exported="true" />
        <activity
            android:name=".MealLibraryActivity"
            android:exported="true" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

</manifest>